/* Regole di debug */
[class*="col-"] {
  background-color: red;
  border: 1px solid black;
}


/* Regole nav */
nav{
    background: darkblue;
}

nav [class*="col-"]{
    height: 50px;
}

nav li{
    display: inline-block;
}

/* Regole jumbotron */
.ms_jumbotron{
    height: 400px;
    background-color: green;
    padding: 50px 0;
}

.ms_jumbotron [class*="col-"]{
    height: 300px;
}

/* Regole Main */

/* Portfolio */
.portfolio, .info, .form, .pre_footer{
    padding: 50px 0;
}

.portfolio .container [class*="col-"]{
    height: 200px;
}

/* informazioni */
.info{
    background-color: green;
}
.info [class*="col-"]{
    height: 100px;
}

.info .centratura [class*="col-"]{
    height: 100px;
}

/* form */
.form{
    height: 600px;
}

.form [class*="col-"]{
    height: 500px;
}


/* footer */

.pre_footer{
    background-color: darkgrey;
}

.pre_footer [class*="col-"]{
    height: 100px;
}

footer{
    height: 50px;
    background-color: darkblue;
}
