/* modifiche media */
@media all and (min-width: 700px ) and (max-width: 992px) {
    .navbar-collapse.collapse {
        display: none!important;
    }
}

/* Regole generiche di pagina */
.ms_jumbotron, .portfolio, .info, .form, .pre_footer{
    padding: 50px 0;
}

/* Regole divisore con stella */
.linea {
    width: 100%;
    max-width: 38rem;
    height: 0.4rem;
    margin: 50px auto;
    position: relative;
}

.linea.bianca{
    background-color: white;
}

.linea.nera{
    background-color: black;
}

.stella {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    font-size: 45px;
    padding: 10px;
}

.stella.bianca{
    color: white;
    background-color: #1abc9c;
}

.stella.nera{
    color: black;
    background-color: white;
}

/* Regole nav */
header .navbar-default .navbar-collapse{
    background-color: #2c3e50;
}

header .navbar-default .navbar-brand {
    color: white;
    font-weight: 700;
}
header .navbar-default{
    background: #2c3e50;
    border: 0;
}

header .navbar-brand{
    font-size: 2.5rem;
    line-height: 70px;
    height: auto;
}

.navbar-default .navbar-nav>li>a{
    line-height: 70px;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

@media all and (max-width: 1199px) {
    .navbar-default .navbar-nav>li>a{
        font-size: 1.5rem;
    }
}

/* Regole jumbotron */
.ms_jumbotron{
    background-color: #1abc9c;
    margin: 100px 0 0;
}

.contenuto_jumbotron{
    text-align: center;
    color: white;
    font-weight: bold;
}

.ms_jumbotron img{
    max-height: 200px;
}

h1{
    font-size: 8rem;
    color: white;
}

.scritte{
    font-size: 2rem;
}
/* Regole Main */

.intestazione_sezioni{
    text-align: center;
}

.intestazione_sezioni h2{
    font-size: 3em;
    font-weight: bold;
}

/* Portfolio */
.portfolio img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

/* informazioni */
.info{
    background-color: #1abc9c;
    text-align: center;
    color: white;
}

.info .scritte{
    text-align: left;
}

.bottone{
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 2rem;
    margin-top: 50px;
}

.bottone>i{
    padding-right: 5px;
}

/* form */
form input{
    display: block;
    width: 100%;
    height: 100px;
    font-size: 2em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid lightgrey;
}

.messaggio{
    height: 300px;
}

form .bottone{
    margin-top: 20px;
    background-color: #1abc9c;
}

/* footer */

.pre_footer{
    background-color: darkgrey;
}

.pre_footer [class*="col-"]{
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

footer{
    height: 50px;
    background-color: darkblue;
}
